/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
  font-family: "IBM Plex Sans", helvetica, arial, sans-serif;
  margin: 2em;
}

.twit {
  margin-bottom: 0.9em;
}

.attribution {
  color: grey;
}